<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lisboyblog.mapper.BlogMapper">

    <update id="updaterecommend">
        update blog set recommend=#{recommend} where id=#{id}
    </update>
    <select id="findTime" resultType="java.util.Date">
        select date_format(creationtime,'%Y-%m-%d') from blog order by creationtime DESC
    </select>

</mapper>